#root {
  padding: 0;
  margin: 0;
}

.header {
  text-align: center;
  background-color: rgb(74, 74, 169);
  padding: 20px 0;
}

img {
  margin: 10px 0 0 0;
  height: 150px;
  border-radius: 15%;
}

.about {
  padding: 20px;
  text-align: center;
  background-color: #f2f2f2;
}

.aboutBox {
  width: 40%;
  min-height: 100px;
  border: rgb(32, 32, 142) 1px solid;
  background-color: #f6f1e9;
  color: #222;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  z-index: 0;
  transform: translateZ(0); /* forces a stacking context */
  transition: all 0.7s ease;
}

.aboutBox:hover {
  box-shadow: 9px 9px 2px 1px #efe6d7;
  z-index: 10;
  transform: scale(1.02);
}

.aboutCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* optional but helps spacing look sane */
}

.aboutBoxHeading {
  font-size: 18px;
  font-weight: 500;
}

.customHr {
  border-top: 1px solid black;
  opacity: 1;
  margin: 30px 70px;
}
